* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/* Слайдер */
.slick-slider {
}
/* ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* лента слайдов */
.slick-track {
	display: flex;
	align-items: flex-start;
}
/* слайд */
.slick-slide {
}
/* слайд активный */
.slick-slide.slick-active {
}
/* слайд основной */
.slick-slide.slick-current {
}
/* слайд по центру */
.slick-slide.slick-center {
}

/* стрелка */
.slick-arrow {
}
/* стрелка влево */
.slick-arrow.slick-prev {
}
/* стрелка вправо */
.slick-arrow.slick-next {
}
/* стрелка не активна */
.slick-arrow.slick-disabled {
}
/* точки слайдера */
.slick-dots {
}
.slick-dots li {
}
.slick-dots button {
}

.header {
	padding: 100px;
	background-color: rgb(114, 235, 144);
}
.block {
	padding: 100px;
	background-color: rgb(114, 235, 144);
}
/* конкретный слайдер */
.first-slick-slider {
	position: relative;
	margin: 50px;
	border: 10px;
}
.first-slick-slider .slick-list {
	overflow: hidden;
}
.first-slick-slider .slick-slide {
}
.first-slick-slider img {
	width: 100%;
	height: 500px;
	object-fit: cover;
}
.first-slick-slider .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 1001;
	font-size: 0;
	background: url("../img/arrow.svg") center / 85% no-repeat;
	width: 30px;
	height: 30px;
	background-color: rgba(255, 255, 255, 0.432);
	border-radius: 5px;
	padding: 20px;
	transition: 0.3s ease all;
}
.first-slick-slider .slick-arrow:hover {
	background-color: rgba(255, 255, 255, 0.61);
}
.first-slick-slider .slick-arrow.slick-prev {
	left: 10px;
	transform: rotate(-180deg);
}

.first-slick-slider .slick-arrow.slick-next {
	right: 10px;
}
.first-slick-slider .slick-dots,
.second-slick-slider-small .slick-dots {
	z-index: 1001;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.432);
	padding: 4px 4px 8px;
	border-radius: 5px;
}
.first-slick-slider .slick-dots li,
.second-slick-slider-small .slick-dots li {
	list-style: none;
	margin: 0 10px;
}
.first-slick-slider .slick-dots button,
.second-slick-slider-small .slick-dots button {
	transition: 0.3s ease all;
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #000;
	border-radius: 50%;
}
.first-slick-slider .slick-dots button:hover,
.second-slick-slider-small .slick-dots button:hover {
	background-color: rgba(0, 0, 0, 0.521);
}
.first-slick-slider .slick-dots li.slick-active button,
.second-slick-slider-small .slick-dots li.slick-active button {
	background-color: transparent;
	border: 1px solid #000;
}
.second-slick-slider {
	max-width: 1000px;
	margin: 50px auto;
}
.second-slick-slider-big {
}
.second-slick-slider-big img {
	width: 100%;
	height: 500px;
	object-fit: cover;
}
.second-slick-slider-small {
	margin: 10px 0;
	position: relative;
}
.second-slick-slider-small img {
	width: 150px;
	height: 150px;
	object-fit: cover;
}
